@media print
{
    html,
    body
    {
        zoom: 1;
    }

    @page
    {
        size: a4 portrait;

        margin: 0;
    }
}

.print-page
{

    color: #000; /* Черный цвет текста */

    &__stickers_isTemplate_yes .sticker
    {
        @media print
        {
            border-top-right-radius: 5mm;
        }
    }

    &__stickers
    {
        display: grid;
        grid-template: 1fr 1fr 1fr / 1fr 1fr;

        align-items: center;
        justify-items: center;

        height: 100%;

        border: 1px solid #000;

    }

    &_format_a4 &__stickers
    {
        width: 210mm;
        min-height: 297mm;
        margin: 0 auto;
    }

    &__tools
    {
        .preview
        {
            margin: 10px auto;
        }

        @media print
        {
            display: none;
        }
    }
}

@media print
{
    .print-page__stickers_isTemplate_no
    {
        &,
        .sticker
        {
            border: none;
        }
    }
}
